{% extends "base.html" %} 
{% load static %}

{% block title %} 
  All Posts 
{% endblock %} 

{% block css_files %}
   <link rel="stylesheet" href="{% static "personal_blogs/post.css" %}" />
   <link rel="stylesheet" href="{% static "personal_blogs/all-posts.css" %}" />
{% endblock %}

{% block content %}
<section id="all-posts">
  <h2>My Collected Landmarks</h2>

  <ul>
    
    {% for post in all_posts  %}
      {% include "personal_blogs/includes/post.html" %}
    {% endfor %}

  </ul>
</section>
{% endblock %}